
<router-outlet></router-outlet>



<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="heading">GK Shopping Complex</span>
  <button id="logout"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<div *ngIf="loadService.isLoading | async" class="loader">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div id="footer">
  <span>All Right Reserved @Gayantha Kuruppuarachchi</span>
</div>

<mat-sidenav-container class="example-container">

  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item><mat-icon>home</mat-icon> <a routerLink="/home">Home</a></mat-list-item>
      <mat-list-item> <mat-icon>category</mat-icon> <a routerLink="/category">Category</a></mat-list-item>
      <mat-list-item> <mat-icon>check_in_out</mat-icon> <a routerLink="/check-in">CheckIn</a></mat-list-item>
      <mat-list-item><mat-icon>list</mat-icon> <a routerLink="/list">List</a></mat-list-item>
      <mat-list-item><mat-icon>local_parking</mat-icon> <a routerLink="/parking-area">Parking Area</a></mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>





